#!/bin/bash

#
# Alias
#

alias ..="cd .."
alias ...="cd ../.."
alias ~="cd ~"
alias -- -="cd -"

alias gs="git status"
alias ga="git add -A"
alias gc="git commit -v"
alias gc!="git commit -v --amend --no-edit"
alias gl="git pull"
alias gp="git push"
alias gp!="git push --force"
alias gcl="git clone --depth 1 --single-branch"
alias gf="git fetch --all"
alias gb="git branch"
alias gr="git rebase"
alias gt='cd "$(git rev-parse --show-toplevel)"'

alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias rmi='rm -I'
alias tree='tree -aC'
alias v='lvim'
alias r='yy'
alias ipy='ipython'
alias code.='code .'

if [ "$(command -v win32yank.exe)" ]; then
	alias wcp='win32yank.exe -i'
	alias wps='win32yank.exe -o'
fi

# enable aliases in sudo
alias sudo='sudo '
# let sudo inherit the PATH
alias sudop='command sudo env PATH="$PATH"'

if [ "$(command -v nala)" ]; then
	alias apt="nala"
fi

# 先检测并设置 dircolors，为所有支持的命令设置颜色输出
if [ -x /usr/bin/dircolors ]; then
	test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
	alias grep='grep --color=auto'
	alias fgrep='fgrep --color=auto'
	alias egrep='egrep --color=auto'
	alias diff='diff --color=auto'
	alias dir='dir --color=auto'
	alias vdir='vdir --color=auto'
    alias ip='ip --color=auto'
fi

if [ "$(command -v lsd)" ]; then
	alias ls="lsd --date +%Y%m%d' '%H:%M --ignore-glob={'NTUSER.DAT*','ntuser.dat*'}"
	alias l="lsd -AF --ignore-glob={'NTUSER.DAT*','ntuser.dat*'}"
	alias ll="lsd -alF --ignore-glob={'NTUSER.DAT*','ntuser.dat*'}"
	alias la="lsd -A --ignore-glob={'NTUSER.DAT*','ntuser.dat*'}"
	alias tree="lsd --tree"
elif [ -x /usr/bin/dircolors ]; then
	# 如果 lsd 不可用，但 /usr/bin/dircolors 存在，设置 ls 的别名
	alias ls='ls --color=auto'
	alias l='ls -CF --color=auto'
	alias ll='ls -alF --color=auto'
	alias la='ls -A --color=auto'
fi

if [ "$(command -v eza)" ]; then
	alias l="eza -a --icons --group-directories-first"
	alias ll="eza -al --icons --group-directories-first"
	alias tree="eza --tree --icons --group-directories-first"
	alias ld="eza -lD"                                         # lists only directories
	alias lf="eza -lF --color=always | grep -v /"              # lists only files (no directories)
    unalias gs
    function gs {
    eza -al --group-directories-first --git --git-ignore \
        --no-user --no-filesize --no-time --no-permissions \
        --tree --color=always | awk '$1 !~ /--/ { print }'
    }
fi

if [ "$(command -v trash-put)" ]; then
	alias rm='echo "You should not use rm directly, use trash-put instead." && rm -I'
	alias trm="trash-put"
	alias tls="trash-list"
	alias trs="trash-restore"
fi

if [ "$(command -v bat)" ]; then
	# apt need to set up a bat -> batcat symlink: ln -s /usr/bin/batcat ~/.local/bin/bat
	alias cat="bat"
fi
