#!usr/bin/zsh
#
# Alias
#
[[ $- != *i* ]] && return

alias ..="cd .."
alias ...="cd ../.."
alias ~="cd ~"
alias -- -="cd -"

alias wo='win32yank.exe -o'
alias wi='win32yank.exe -i'

alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias p="pwd"
alias v="lvim"
alias r="ya"
alias ipy='ipython'

if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
	alias l='ls -CF --color=auto'
	alias ll='ls -alF --color=auto'
	alias la='ls -A --color=auto'
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

if [ "$(command -v eza)" ]; then
    alias l="eza -a --icons --group-directories-first"
    alias ll="eza -al --icons --group-directories-first"
fi

alias tree="tree -aC"

alias gs="git status"
alias ga="git add -A"
alias gc="git commit -v"
alias gc!="git commit -v --amend --no-edit"
alias gl="git pull"
alias gp="git push"
alias gp!="git push --force"
alias gcl="git clone --depth 1 --single-branch"
alias gf="git fetch --all"
alias gb="git branch"
alias gr="git rebase"
alias gt='cd "$(git rev-parse --show-toplevel)"'
