.history
.z
.zsh_history
.bash_history
.zcompdump*
*.zwc
.config/starship.toml
.config/bash/custom/
.config/bash/50-custom.bash
.config/fish/fish_variables
.config/hypr/cache/
.config/hypr/hypridle.conf
.config/hypr/colors.conf
.config/rofi/colors.rasi
.config/waybar/colors.css
.config/swaync/colors.css
.config/yazi/plugins/
.config/zsh/.p10k.zsh
.config/zsh/core/00-init.zsh
.config/zsh/core/00-init-omz.zsh
.config/zsh/core/50-custom.zsh
.config/zsh/cache/
.config/zsh/.powerlevel10k/
.config/zsh/.custom
.config/zsh/plugins/custom/
.config/scoop/
.local/share/flatpak/exports/share/applications/
.local/share/flatpak/exports/share/dbus-1/
.local/share/flatpak/exports/share/icons/
.local/share/flatpak/exports/share/metainfo/
.vscode/
.config/hypr/conf/etc/animation.conf
.config/sunsetr/geo.toml
dank-theme.toml
