.history
.z
.zsh_history
.bash_history
.zcompdump*
.config/starship.toml
.config/fish/fish_variables
.config/hypr/cache/
.config/zsh/.p10k.zsh
.config/zsh/core/00-init.zsh
.config/zsh/core/00-init-omz.zsh
.config/zsh/core/50-custom
.config/zsh/.powerlevel10k/
.config/zsh/.custom
.config/zsh/plugins/custom/
.config/scoop/
.vscode/
